/* ESTILIZAÇÃO DO MENU */
#img-logo{
    width: 10rem;
    height: 4rem;
}

#img-menu{
    margin-left: 100px;
    width: auto;
    height: auto;
}

/* ESTILIZAÇÃO DA MAIN */
#carouselExampleCaptions{
    padding: 50px;
    width: auto;   
}
.carousel-item{
    height: auto;
    width: auto;
}
#config-slide{
    border-radius: 20px; 
}
/* ESTILIZAÇÃO DO FOOTER */
.txt-footer{
    margin-left: 50px;
    margin-top: 30px;
}
.logo-footer{
    position: absolute;
    left: 46%;
    margin-top: 15px;
}
.icons{
    display: flex;
    position: absolute;
    right: 20px;
    margin-top: 20px;
}
.footer{
    width: auto;
    margin-top: 150px;
    background-color: #E9C46A;
    display: flex;
    height:  95px ;
}
