/* ESTILIZAÇÃO DO MENU */
#img-logo{
    width: 10rem;
    height: 4rem;
}

#img-menu{
    margin-left: 100px;
    width: 3rem;
    height: 3rem;
}

/* ESTILIZAÇÃO DA MAIN */
#carouselExampleCaptions{
    padding: 50px;
    width: 100%;   
}
.carousel-item{
    height: 400px;
}
#config-slide{
    border-radius: 20px; 
}
.categorias{
    background-color: rgb(204, 121, 13);
    border-radius: 10px;
    margin-left: 28%;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 800px;
    height: 100px;
}
#img-card{
    width: auto; 
    height: 200px;
}
#card{
    height: 500px;
    margin-left: 200px;
}
#card-config{
    width: 1000px;
    margin-left: 400px;
    margin-top: 100px;
}
/* ESTILIZAÇÃO DO FOOTER */
.txt-footer{
    margin-left: 50px;
    margin-top: 30px;
}
.logo-footer{
    position: absolute;
    left: 46%;
    margin-top: 15px;
}
.icons{
    display: flex;
    position: absolute;
    right: 20px;
    margin-top: 20px;
}
.footer{
    margin-top: 150px;
    background-color: #E9C46A;
    display: flex;
    height: 95px;
}
h3{
    text-align: center;
}
h1{
    text-align: center;
}
